{% extends "base.html" %}

{% block title %}
{{ SITENAME }} - {{ article.title|striptags  }}{% if article.keywords %} - {{ article.keywords|striptags }}{% endif %}
{% endblock %}


{% block head %}
  {{ super() }}
    <meta name="description" content="{{article.summary | striptags}}" />
  {% for tag in article.tags %}
    <meta name="tags" content="{{tag | striptags}}" />
  {% endfor %}
{% endblock %}


{% block content %}
<section id="video-main-player" class="section">
    {% if article.player_type == 'youtube' %}
    <div class="video-container video-container-youtube">
        <iframe src="https://www.youtube.com/embed/{{ article.player_vid }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% else %}
    <div class="no-video-container">
        <p>Vidéo player is not available. There should be an image here !</p>
    </div>
    {% endif %}
</section>
<section class="section content">
    <h1 class="title">{{ article.title | striptags }}</h1>
    <div class="columns">
        <div id="infobox" class="column is-one-third is-light">
            infobox data
        </div>
        <div class="column">
            <div class="block">
                <p>{{ article.content }}</p>
            </div>

            {% if article.link_official or article.link_vod %}
            <div class="block">
                {% if article.link_official %}
                <p><strong>Official Website :</strong> <a href="{{ article.link_official }}">{{ article.link_official }}</a></p>
                {% endif %}
                {% if article.link_vod %}
                <p><strong>Video-On-Demand :</strong> <a href="{{ article.link_vod }}">{{ article.link_vod }}</a></p>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}

